# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SPLITKB_TIROUGE01_LEFT

config ZMK_KEYBOARD_NAME
    default "Ti-Rouge 01"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SPLITKB_TIROUGE01_LEFT

if SHIELD_SPLITKB_TIROUGE01_LEFT || SHIELD_SPLITKB_TIROUGE01_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SPLITKB_TIROUGE01_LEFT || SHIELD_SPLITKB_TIROUGE01_RIGHT
