#include <physical_layouts.dtsi>

/ {
     tirouge01_physical_layout: tirouge01_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "TiRouge01 Default Layout";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y   rot   rx  ry
            = <&key_physical_attrs  100 100    0  40     0    0   0>
            , <&key_physical_attrs  100 100  100  13     0    0   0>
            , <&key_physical_attrs  100 100  200   0     0    0   0>
            , <&key_physical_attrs  100 100  300  13     0    0   0>
            , <&key_physical_attrs  100 100  400  13     0    0   0>
            , <&key_physical_attrs  100 100  673  13     0    0   0>
            , <&key_physical_attrs  100 100  773  13     0    0   0>
            , <&key_physical_attrs  100 100  873   0     0    0   0>
            , <&key_physical_attrs  100 100 0973  13     0    0   0>
            , <&key_physical_attrs  100 100 1073  40     0    0   0>
            , <&key_physical_attrs  100 100    0 140     0    0   0>
            , <&key_physical_attrs  100 100  100 113     0    0   0>
            , <&key_physical_attrs  100 100  200 100     0    0   0>
            , <&key_physical_attrs  100 100  300 113     0    0   0>
            , <&key_physical_attrs  100 100  400 113     0    0   0>
            , <&key_physical_attrs  100 100  673 113     0    0   0>
            , <&key_physical_attrs  100 100  773 113     0    0   0>
            , <&key_physical_attrs  100 100  873 100     0    0   0>
            , <&key_physical_attrs  100 100  973 113     0    0   0>
            , <&key_physical_attrs  100 100 1073 140     0    0   0>
            , <&key_physical_attrs  100 100    0 240     0    0   0>
            , <&key_physical_attrs  100 100  100 213     0    0   0>
            , <&key_physical_attrs  100 100  200 200     0    0   0>
            , <&key_physical_attrs  100 100  300 213     0    0   0>
            , <&key_physical_attrs  100 100  400 213     0    0   0>
            , <&key_physical_attrs  100 100  673 213     0    0   0>
            , <&key_physical_attrs  100 100  773 213     0    0   0>
            , <&key_physical_attrs  100 100  873 200     0    0   0>
            , <&key_physical_attrs  100 100  973 213     0    0   0>
            , <&key_physical_attrs  100 100 1073 240     0    0   0>
            , <&key_physical_attrs  100 100  240 325     0    0   0>
            , <&key_physical_attrs  100 100  340 325     0    0   0>
            , <&key_physical_attrs  100 100  450 339   165    0   0>
            , <&key_physical_attrs  100 100  624 339     0    0   0>
            , <&key_physical_attrs  100 100  733 325     0    0   0>
            , <&key_physical_attrs  100 100  833 325     0    0   0>
            ;
    };
};
