#include <physical_layouts.dtsi>

/ {
     tirouge01_physical_layout: tirouge01_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "TiRouge01 Default Layout";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   26       0     0     0>
            , <&key_physical_attrs 100 100  100   26       0     0     0>
            , <&key_physical_attrs 100 100  200   13       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   13       0     0     0>
            , <&key_physical_attrs 100 100  500   13       0     0     0>
            , <&key_physical_attrs 100 100 1100   13       0     0     0>
            , <&key_physical_attrs 100 100 1200   13       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   13       0     0     0>
            , <&key_physical_attrs 100 100 1500   26       0     0     0>
            , <&key_physical_attrs 100 100 1600   26       0     0     0>
            , <&key_physical_attrs 100 100    0  126       0     0     0>
            , <&key_physical_attrs 100 100  100  126       0     0     0>
            , <&key_physical_attrs 100 100  200  113       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  113       0     0     0>
            , <&key_physical_attrs 100 100  500  113       0     0     0>
            , <&key_physical_attrs 100 100 1100  113       0     0     0>
            , <&key_physical_attrs 100 100 1200  113       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  113       0     0     0>
            , <&key_physical_attrs 100 100 1500  126       0     0     0>
            , <&key_physical_attrs 100 100 1600  126       0     0     0>
            , <&key_physical_attrs 100 100    0  226       0     0     0>
            , <&key_physical_attrs 100 100  100  226       0     0     0>
            , <&key_physical_attrs 100 100  200  213       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  213       0     0     0>
            , <&key_physical_attrs 100 100  500  213       0     0     0>
            , <&key_physical_attrs 100 100 1100  213       0     0     0>
            , <&key_physical_attrs 100 100 1200  213       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  213       0     0     0>
            , <&key_physical_attrs 100 100 1500  226       0     0     0>
            , <&key_physical_attrs 100 100 1600  226       0     0     0>
            , <&key_physical_attrs 100 100    0  326       0     0     0>
            , <&key_physical_attrs 100 100  100  326       0     0     0>
            , <&key_physical_attrs 100 100  200  313       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  313       0     0     0>
            , <&key_physical_attrs 100 100  500  313       0     0     0>
            , <&key_physical_attrs 100 100 1100  313       0     0     0>
            , <&key_physical_attrs 100 100 1200  313       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  313       0     0     0>
            , <&key_physical_attrs 100 100 1500  326       0     0     0>
            , <&key_physical_attrs 100 100 1600  326       0     0     0>
            , <&key_physical_attrs 100 100    0  426       0     0     0>
            , <&key_physical_attrs 100 100  100  426       0     0     0>
            , <&key_physical_attrs 100 100  200  413       0     0     0>
            , <&key_physical_attrs 100 100  600  410    4500   600   410>
            , <&key_physical_attrs 100 100  670  480    4500   670   480>
            , <&key_physical_attrs 100 100  740  550    4500   740   550>
            , <&key_physical_attrs 100 100  960  550    4500   960   550>
            , <&key_physical_attrs 100 100 1030  480    4500  1030   480>
            , <&key_physical_attrs 100 100 1100  410    4500  1100   410>
            , <&key_physical_attrs 100 100 1400  413       0     0     0>
            , <&key_physical_attrs 100 100 1500  426       0     0     0>
            , <&key_physical_attrs 100 100 1600  426       0     0     0>
            , <&key_physical_attrs 100 100  460  410    4500   460   410>
            , <&key_physical_attrs 100 100  530  480    4500   530   480>
            , <&key_physical_attrs 100 100  600  550    4500   600   550>
            , <&key_physical_attrs 100 100  670  620    4500   670   620>
            , <&key_physical_attrs 100 100 1030  620    4500  1030   620>
            , <&key_physical_attrs 100 100 1100  550    4500  1100   550>
            , <&key_physical_attrs 100 100 1170  480    4500  1170   480>
            , <&key_physical_attrs 100 100 1240  410    4500  1240   410>
            ;
    };
};
