config SHIELD_SPLITKB_TIROUGE01_LEFT
    def_bool $(shields_list_contains, splitkb_tirouge01_left)

config SHIELD_SPLITKB_TIROUGE01_RIGHT
    def_bool $(shields_list_contains, splitkb_tirouge01_right)
